<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Security</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='bigLogo.png') }}" alt="SmartEye Logo">
            <img src="{{ url_for('static', filename='bigSlogan.png') }}" alt="Slogan" class="slogan-img">
        </div>
    </header>

    <main>
        <div class = "buttons">
            <form action = "{{ url_for('index') }}" method = "get">
                <button type = "submit" class="scan-btn">Login</button></form>
            <form action = "{{ url_for('register') }}" method = "POST">
                <button type="submit" class="scan-btn">New User</button></form>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 Smart Eye. All rights reserved.</p>
    </footer>
</body>
</html>
